@model Portfolio_2._0.Models.Translation
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="row first">
        
        <div class="col-md-5">

            <h2>Portfolio</h2>
            <p class="lead">Sprawdź moje projekty.</p>
            <p>@Html.ActionLink("Więcej", "Portfolio", "Home", new { @class = "btn btn-primary btn-lg" })</p>
           
        </div>

        <div class="col-md-7">
            <img class="img-responsive" height="250px" width="350px" src="~/Content/Img/ProgramowanieMojaPasja.jpg"  />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>ASP.NET MVC</h3>
        <p>
            Kliknij więcej i przejdź do aplikacji internetowych stworzonych za pomocą ASP.NET, korzystając ze wzorca MVC (model–view–controller).
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>WPF Application</h3>
        <p>Kliknij więcej i przejdź do aplikacji stworzonych w technologii WPF (Windows Presentation Foundation ).</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>MS Office + VBA</h3>
        <p>Kliknij więcej i zobacz narzędzia stworzone w programach z rodziny MS Office przy użyciu języka VBA (Visual Basic for Applications).</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>BI</h3>
        <p>Kliknij więcej i zobacz rozwiązania Business Inteligense przygotowane w pakiecie SQL SERVER i Power BI.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Więcej &raquo;</a></p>
    </div>
</div>
